/* Story section */

.story-section {
    margin: 50px 0 50px 0;
    color: #fff;
    position: relative;
}

.story-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-part {
    display: flex;
    flex-direction: column;
}


.owner-image-container {
    width: 200px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.left-part h5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #E5E7EB;
    text-align: center;
    margin-bottom: 15px;
}


.left-part p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--text-color-grey);
    margin-bottom: 15px;
}

.person-button {
    width: 164px;
    height: 56px;
    border: none;
    outline: none;
    background-color: #6C4BEF;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #F8FAFC;
    align-self: center;
}

.right-part {
    max-width: 644px;
    padding: 30px;
}

.story-heading {
    margin-bottom: 20px;
}

.story-para-color {
    color: var(--text-color-grey);
}

.right-part p {
    color: #6B7280;
}

@media screen and (max-width: 768px) {
    .story-container {
        flex-direction: column;
        padding-top: 120px;
        padding-bottom: 80px;
    }
    .story-heading {
        text-align: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .story-container {
        
    }

    .person-button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 480px){
    .story-heading {
        font-size: 24px;
        line-height: 32px;
    }
    .left-part h5 {
        font-size: 20px;
        line-height: 28px;
    }
    .left-part p {
        font-size: 14px;
        line-height: 20px;
    }
    .story-para {
        font-size: 16px;
        line-height: 24px;
    }
}